.account {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    background-color: var(--sub-alt-color);
}

.img-acc {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.user {
    font-size: 32px;
}

.user-img {
    display: flex;
    align-items: center;
    gap: 20px;

}