:root {
  font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: var(--sc-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  caret-color: var(--caret-color);
  margin-left: 20px;
  margin-right: 20px;
}

::selection {
  background-color: var(--caret-color);
  color: var(--sub-color);
}

/* paper*/
[data-theme="lightTheme"] {
  --bg-color: #eeeeee;
  --main-color: #444444;
  --caret-color: #444444;
  --sub-color: #b2b2b2;
  --sub-alt-color: #dddddd;
  --text-color: #444444;
  --error-color: #d70000;
  --error-extra-color: #d70000;
  --colorful-error-color: #d70000;
  --colorful-error-extra-color: #d70000;
}

/* catppuccin */
[data-theme="darkTheme"] {
  --bg-color: #1e1e2e;
  --caret-color: #f2cdcd;
  --main-color: #cba6f7;
  --sub-color: #7f849c;
  --sub-alt-color: #181825;
  --text-color: #cdd6f4;
  --error-color: #f38ba8;
  --error-extra-color: #eba0ac;
  --colorful-error-color: #f38ba8;
  --colorful-error-extra-color: #eba0ac;
}

label,
a {
  gap: 20px;
  color: var(--sub-color);
  text-decoration: none;
}


button,
select {
  background-color: var(--bg-color);
  color: var(--sub-color);
  padding: 10px;
  border: none;
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}

form {
  display: grid;
  gap: 10px;
  justify-content: center;
}

footer {
  display: flex;
  position: absolute;
  width: auto;
  height: 20px;
  gap: 20px;
  bottom: 0;
  padding: 20px;
}

.text {
  color: var(--sub-color);
}

.App,
.page404 {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page404 {
  display: grid;
  justify-content: center;
  height: 100%;
  align-content: center;
  gap: 4rem;
}

.text-display {
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 28px;
  line-height: 1.5;
  margin-left: 300px;
  margin-right: 200px;
  color: var(--sub-color);
}

.typing-input,
.login-input {
  position: relative;
  width: 71%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--main-color);
  font-size: inherit;
  font-family: inherit;
}

.login-form {
  display: flex;
  grid-auto-flow: column;
  margin-top: 10%;
  gap: 1rem;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}

.login-button {
  background-color: var(--sub-alt-color);
  border-radius: 8px;
  width: 100%;
}

.login-input {
  background-color: var(--sub-alt-color);
  color: var(--text-color);
  width: auto;
  padding: 8px;
  border-radius: 8px;
  border: 1.5px solid var(--sub-alt-color);
}

.login-input:focus {
  border: 1.5px solid var(--main-color);
}



.results {
  margin-top: 20px;
  font-size: 20px;
}



.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 10px;
}

.setting-button:focus {
  color: var(--main-color);
}

.setting-button:hover,
button:hover,
a:hover {
  color: var(--text-color);
}

.about {
  transition: background-color 0.25s ease 0s;
  transition: transform 0.1s ease 0s;
  cursor: default;
}

.about-h {
  color: var(--sub-color);
}

.about-p {
  color: var(--text-color);
  text-align: justify;
  font-size: 20px;
}

.after-char {
  color: var(--main-color);
}

.current-char {
  color: var(--text-color);
}

.incorrect-char {
  color: var(--error-color);
}

.cursor {
  display: inline-block;
  position: absolute;
  height: 1.1em;
  transform: translateY(0.1em) translateX(-0.1em);
  transition: all ease-in-out 0.5s;
  border-left: 3px solid var(--caret-color);
  color: var(--caret-color);
  animation: blink 1.2s linear infinite 1s;
  z-index: -22;
}


@keyframes blink {

  50% {
    opacity: 1;
  }

  0%,
  100% {
    opacity: 0;
  }
}

.separator {
  width: .5rem;
  height: 7rem;
  background: var(--bg-color);
  border-radius: .5rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 60%;
  margin: 0 auto;
}